h2 {
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
}

.column-headers {
    display: flex;
    padding: 10px 10px 15px 20px;
    border-bottom: solid 1px var(--dark-gray-column-headers);
}
.column-headers p {
    font-size: 1.05rem;
    font-weight: bold;
    margin-right: 22%;
}