.container {
    display: flex;
    padding: 20px;
    border-top: 2px solid var(--medium-gray-border);
  }
  
  .data {
    display: flex;
    width: 700px;
  }

  .employee-name, .dates, .type-container {
    width: 30%;
  }
  
  .comment-section {
    height: 100%;
    padding-top: 15px;
  }
  
  .show-hide-comments, .type-container p {
    display: inline-block;
  }

  .show-hide-comments {
    height: 23px;
  }

  .show-comments-icon {
    scale: 1.3;
    height: 23px;
  }
  
  .manage-request-icon {
    scale: 1.5;
  }

  // Setting colors for approve and deny icons
  .approve-icon {
    color: var(--approved-color);
  }

  .deny-icon {
    color: var(--denied-color);
  }

  // Scale the icons when hovering over them and the text
  .approve-container:hover mat-icon, .deny-container:hover mat-icon {
    scale: 1.7;
  }

  .approve-container, .deny-container {
    display: flex;
  }

  .manage-icon-container mat-icon {
    margin: 15px;
  }

  .employee-name {
    font-weight: bold;
  }

  .manage-request-form button {
    width: 100px;
    height: 40px;
    background: none;
    border: none;
    padding: 0 5px;
  }

  .manage-request-form button:hover p {
    font-weight: bold;
  }

  .manage-request-form textarea {
    border: none;
    outline: solid 1px var(--super-light-blue);
    padding: 10px;
    margin-bottom: 10px;
  }

  .response-comment-container {
    border-radius: 20px;
  }

  .manage-request-form textarea:focus {
    outline: none !important;
    border: solid 1px var(--super-light-blue);
  }

  .manage-request-form {
    width: auto;
    display: flex;
  }

  .response-comment-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .approve-container, .deny-container {
    margin-bottom: 0;
  }

  .manage-request-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }

  .response-container {
    display: flex;
    margin-top: 10px;
  }

  // Hover styling
  .request-container:hover .data p, 
  .request-container:hover .show-comments-icon {
    color: rgb(206, 206, 206);
  }