.container {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 16px;
    font-weight: 600;
    color: #333;
}

.container p {
    font-size: 1.05rem;
    font-weight: bold;
    margin-right: 135px;
}

.dates-title {
    margin-right: 165px !important;
}

.component-frame {
    margin-bottom: 100px;
    padding-bottom: 5px;
}