/* 
DayPilot Month Theme 
https://themes.daypilot.org/month/theme/6vro57
Theme Designer Version: 2021.09.25.67272
*/
.monthcalendar_main 
{
	border: 1px solid #ffffff;
}
.monthcalendar_main, .monthcalendar_main td 
{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	font-size: 13px;
}
.monthcalendar_event { 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.monthcalendar_event_inner { 
	position: absolute;
	overflow: hidden;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	text-align: left;
	color: #ffffff;
	background-color: #dec279;
	background: -webkit-gradient(linear, left top, left bottom, from(#dfc57f), to(#ddbf73));  
	background: -webkit-linear-gradient(top, #dfc57f 0%, #ddbf73);
	background: -moz-linear-gradient(top, #dfc57f 0%, #ddbf73);
	background: -ms-linear-gradient(top, #dfc57f 0%, #ddbf73);
	background: -o-linear-gradient(top, #dfc57f 0%, #ddbf73);
	background: linear-gradient(top, #dfc57f 0%, #ddbf73);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#dfc57f", endColorStr="#ddbf73");
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 4px;
}
.monthcalendar_header_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	text-align: center;
	padding: 7px;
	overflow: hidden;
	color: #333333;
	background: #ffffff;
}
.monthcalendar_cell 
{
	background-color: #fcfcfc;
}
.monthcalendar_cell.monthcalendar_cell_business
{
	background-color: #ffffff;
}
.monthcalendar_cell_inner 
{
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;	
}
.monthcalendar_cell_header 
{
	text-align: right;
	padding-right: 2px;
}
.monthcalendar_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	color: #333333;
	background: #b5b5b5;
}
.monthcalendar_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.monthcalendar_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; 
	opacity: 0.6; 
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
	cursor: pointer;
}
.monthcalendar_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}
.monthcalendar_event_timeleft { color: #ccc; font-size: 8pt }
.monthcalendar_event_timeright { color: #ccc; font-size: 8pt; text-align: right; }
.monthcalendar_loading { background-color: orange; color: white; padding: 2px; }
